@import './base.css';

::-webkit-scrollbar{
  width: 6px
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* màu nền */
  border-radius: 10px;
}
/* Phần thumb (nút kéo) */
::-webkit-scrollbar-thumb {
  background: #888;
  /* màu thumb */
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* đổi màu khi hover */
}
/* Modal */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.confirm-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 90%;
  max-width: 500px;
  border-radius: 16px;
  z-index: 1000;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
}

/* Confirm delete */
.confirm-modal h3 {
  margin: 24px;
  text-align: center;
}

.confirm-modal p {
  text-align: center;
  margin: 0 24px 24px;
}

.confirm-actions {
  display: flex;
  gap: 12px;
  padding: 0 24px 24px;
}
.btn-danger {
  flex: 1;
  background: #e74c3c;
  color: white;
  padding: 14px;
  border: none;
  border-radius: 8px;
}
.stats {
  display: flex;
  gap: 16px;
}

.stat-item {
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
}

.stat-item.pending {
  background: #fff3cd;
  color: #856404;
}

.stat-item.prearing {
  background-color: #07de39b5;
  color: white;
}

.stat-item.delivering {
  background: #d1ecf1;
  color: #0c5460;
}

.stat-item.completed {
  background: #d4edda;
  color: #155724;
}

.tabs {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
  flex-wrap: wrap;
}

.tab-btn {
  padding: 12px 20px;
  border: none;
  border-radius: 12px;
  background: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.tab-btn.active {
  background: #2874f0;
  color: white;
}

.badge {
  margin-left: 8px;
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 12px;
}

.badge.all {
  background-color: #07de39c7;
}

.badge.warning {
  background: #fff3cd;
  color: #856404;
}

.badge.info {
  background: #d1ecf1;
  color: #0c5460;
}

.badge.success {
  background: #d4edda;
  color: #155724;
}

.badge.danger {
  background: #f8d7da;
  color: #721c24;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}
a:hover{
  background-color: transparent;
}